node_modules
readme-images
.vscode
.DS_Store
**/.yarn
db
**/.env*
.stylelintcache
.cache*
*prompt*.txt
# Ignore files starting with something that looks like a UUID
[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f]-*
# Ignore data backups
rh_data*.json
