@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');

:root {
  /* Base Colors */
  --color-maroon-h: 0;
  --color-maroon-s: 100%;
  --color-maroon-l: 25%;
  --color-maroon: hsl(var(--color-maroon-h), var(--color-maroon-s), var(--color-maroon-l));
  --color-maroon-light: hsl(var(--color-maroon-h), var(--color-maroon-s), 35%);
  --color-maroon-dark: hsl(var(--color-maroon-h), var(--color-maroon-s), 19%);

  --color-gunmetal-h: 220;
  --color-gunmetal-s: 15%;
  --color-gunmetal-l: 20%;
  --color-gunmetal: hsl(var(--color-gunmetal-h), var(--color-gunmetal-s), var(--color-gunmetal-l));
  --color-gunmetal-light: hsl(var(--color-gunmetal-h), var(--color-gunmetal-s), 30%);
  --color-gunmetal-dark: hsl(var(--color-gunmetal-h), var(--color-gunmetal-s), 10%);
  
  /* Grayscale Colors */
  --color-gray-h: 0;
  --color-gray-s: 0%;
  
  /* Light Theme */
  --color-background-l: 100%;
  --color-text-l: 20%;
  --color-text-secondary-l: 40%;
  --color-border-l: 88%;
  --color-card-l: 97%;

  --color-secondary-background-l: 90%;

  --color-secondary-background: hsl(var(--color-gray-h), var(--color-gray-s), var(--color-secondary-background-l));
  
  --color-background: hsl(var(--color-gray-h), var(--color-gray-s), var(--color-background-l));
  --color-text: hsl(var(--color-gray-h), var(--color-gray-s), var(--color-text-l));
  --color-text-secondary: hsl(var(--color-gray-h), var(--color-gray-s), var(--color-text-secondary-l));
  --color-border: hsl(var(--color-gray-h), var(--color-gray-s), var(--color-border-l));
  --color-card: hsl(var(--color-gray-h), var(--color-gray-s), var(--color-card-l));
  
  /* Dark Theme */
  --color-background-dark-l: 10%;
  --color-text-dark-l: 88%;
  --color-text-secondary-dark-l: 80%;
  --color-border-dark-l: 20%;
  --color-card-dark-l: 18%;
  
  --color-background-dark: hsl(var(--color-gray-h), var(--color-gray-s), var(--color-background-dark-l));
  --color-text-dark: hsl(var(--color-gray-h), var(--color-gray-s), var(--color-text-dark-l));
  --color-text-secondary-dark: hsl(var(--color-gray-h), var(--color-gray-s), var(--color-text-secondary-dark-l));
  --color-border-dark: hsl(var(--color-gray-h), var(--color-gray-s), var(--color-border-dark-l));
  --color-card-dark: hsl(var(--color-gray-h), var(--color-gray-s), var(--color-card-dark-l));
  
  /* Sizes */
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --sm: 0.75rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.75rem;
  --2xl: 2.5rem;
  --3xl: 3.75rem;
  --4xl: 6.25rem;
  --5xl: 10rem;
  --6xl: 15rem;

  /* Spacing */
  --spacing-xxs: var(--xxs);
  --spacing-xs: var(--xs);
  --spacing-sm: var(--sm);
  --spacing-md: var(--md);
  --spacing-lg: var(--lg);
  --spacing-xl: var(--xl);
  --spacing-2xl: var(--2xl);
  --spacing-3xl: var(--3xl);
  --spacing-4xl: var(--4xl);
  --spacing-5xl: var(--5xl);
  --spacing-6xl: var(--6xl);
  
  /* Typography */
  --font-family-body: 'Atkinson Hyperlegible', Lato, sans-serif;
  --font-family-heading: Poppins, Lato, sans-serif;
  --font-size-xxs: var(--xxs);
  --font-size-xs: var(--xs);
  --font-size-sm: var(--sm);
  --font-size-md: var(--md);
  --font-size-lg: var(--lg);
  --font-size-xl: var(--xl);
  --font-size-2xl: var(--2xl);
  --font-size-3xl: var(--3xl);
  --font-size-4xl: var(--4xl);
  --font-size-5xl: var(--5xl);
  --font-size-6xl: var(--6xl);
  
  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
} 
