/* 
Setting a bunch of baseline defaults so we can have a consistent starting
point for our styles.

Credit to @slayingthedragon on YouTube for inspiring much of this!
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	/* https://coolors.co/7e0112-440812-090f11-6587d7-fff9fb-ed9b40 */

	/* https://coolors.co/04080f-507dbc-60a561-efcb68-ebbe9b-800000-fafafa */
	
	/* colors */
	--hsl-asparagus-huesat: 121deg 28%;
	--hsl-asparagus-lum: 51%;
	--hsl-butterscotch-huesat: 32deg 83%;
	--hsl-butterscotch-lum: 59%;
	--hsl-cerulean-huesat: 196deg 36%;
	--hsl-cerulean-lum: 41%;
	--hsl-chocolate-cosmos-huesat: 346deg 88%;
	--hsl-chocolate-cosmos-lum: 19%;
	--hsl-columbia-blue-huesat: 201deg 38%;
	--hsl-columbia-blue-lum: 84%;
	--hsl-falu-red-huesat: 4deg 98%; /* original Rocking Horse site red */
	--hsl-falu-red-lum: 25%;/* original Rocking Horse site red */
	--hsl-glaucous-huesat: 215deg 45%;
	--hsl-glaucous-lum: 53%;
	--hsl-light-blue-huesat: 182deg 32%;
	--hsl-light-blue-lum: 82%;
	--hsl-maroon-huesat: 0deg 100%;
	--hsl-maroon-lum: 30%; /* originally 25% */
	--hsl-naples-yellow-huesat: 44deg 81%;
	--hsl-naples-yellow-lum: 67%;
	--hsl-night-huesat: 190deg 31%;
	--hsl-night-lum: 5%;
	--hsl-peach-huesat: 26deg 67%;
	--hsl-peach-lum: 76%;
	--hsl-pistachio-huesat: 78deg 56%;
	--hsl-pistachio-lum: 66%;
	--hsl-vermillion-huesat: 0deg 100%;
	--hsl-vermillion-lum: 60%;

	/* neutrals */
	--hsl-anti-flat-white-huesat: 200deg 7%;
	--hsl-anti-flat-white-lum: 92%;
	--hsl-battleship-gray-huesat: 200deg 1%;
	--hsl-battleship-gray-lum: 55%;
	--hsl-blacky-huesat: 154deg 47%;
	--hsl-blacky-lum: 3%;
	--hsl-onyx-huesat: 150deg 4%;
	--hsl-onyx-lum: 20%;
	--hsl-silver-huesat: 216deg 5%;
	--hsl-silver-lum: 79%;

	--hsl-black-huesat: 0deg 0%;
	--hsl-black-lum: 0%;
	--hsl-white-huesat: 0deg 0%;
	--hsl-white-lum: 100%;
	--hsl-rich-black-huesat: 218deg 58%;
	--hsl-rich-black-lum: 4%;
	--hsl-seasalt-huesat: 0deg 0%;
	--hsl-seasalt-lum: 97%;
	--hsl-slate-gray-huesat: 199deg 15%;
	--hsl-slate-gray-lum: 51%;

	--clr-dark: hsl(var(--hsl-rich-black-huesat) var(--hsl-rich-black-lum));
	--clr-light: hsl(var(--hsl-seasalt-huesat) var(--hsl-seasalt-lum));
	--clr-slate: hsl(var(--hsl-slate-gray-huesat) var(--hsl-slate-gray-lum));

	--clr-primary: hsl(var(--hsl-maroon-huesat) var(--hsl-maroon-lum));
	--clr-secondary: hsl(var(--hsl-glaucous-huesat) var(--hsl-glaucous-lum));
	--clr-tertiary: hsl(var(--hsl-peach-huesat) var(--hsl-peach-lum));
	--clr-info: hsl(var(--hsl-columbia-blue-huesat) var(--hsl-columbia-blue-lum));
	--clr-success: hsl(var(--hsl-asparagus-huesat) var(--hsl-asparagus-lum));
	--clr-warning: hsl(var(--hsl-naples-yellow-huesat) var(--hsl-naples-yellow-lum));
	--clr-danger: hsl(var(--hsl-vermillion-huesat) var(--hsl-vermillion-lum));
	
	--clr-emphasis: hsl(var(--hsl-white-huesat) var(--hsl-white-lum));
	--clr-body-color: var(--clr-light);
	--clr-body-bg: var(--clr-dark);
	--clr-box-shadow: hsl(var(--hsl-seasalt-huesat) var(--hsl-seasalt-lum) / 25%);
	--clr-box-shadow-emphasis: hsl(var(--hsl-white-huesat) var(--hsl-white-lum) / 50%);

	@media (prefers-color-scheme: light) {
		--clr-body-color: var(--clr-dark);
		--clr-emphasis: hsl(var(--hsl-black-huesat) var(--hsl-black-lum));
		--clr-body-bg: var(--clr-light);
		--clr-box-shadow: hsl(var(--hsl-rich-black-huesat) var(--hsl-rich-black-lum) / 25%);
		--clr-box-shadow-emphasis: hsl(var(--hsl-black-huesat) var(--hsl-black-lum) / 50%);
	}

	@media (prefers-color-scheme: dark) {
		--clr-body-color: var(--clr-light);
		--clr-emphasis: hsl(var(--hsl-white-huesat) var(--hsl-white-lum));
		--clr-body-bg: var(--clr-dark);
		--clr-box-shadow: hsl(var(--hsl-seasalt-huesat) var(--hsl-seasalt-lum) / 25%);
		--clr-box-shadow-emphasis: hsl(var(--hsl-white-huesat) var(--hsl-white-lum) / 50%);
	}

	/* sizes */
	--size-xxs: 0.5rem;
	--size-xs: 0.75rem;
	--size-sm: 0.875rem;
	--size-base: 1rem;
	--size-lg: 1.125rem;
	--size-xl: 1.25rem;
	--size-2xl: 1.5rem;
	--size-3xl: 1.875rem;
	--size-4xl: 2.25rem;
	--size-5xl: 3rem;
	--size-6xl: 3.75rem;
	--size-7xl: 4.5rem;
	--size-8xl: 6rem;
	--size-9xl: 8rem;
	--size-10xl: 10rem;
}

* {
	margin: 0;
	line-height: calc(1em + 0.5rem);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: Poppins, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-weight: 400;
	font-style: normal;
	background-color: var(--clr-body-bg);
	color: var(--clr-body-color);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	user-select: none;
}

input {
	border: none;
	padding: 0;
}

button {
	display: inline-block;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
}

p {
	max-width: 80ch;
}

a {
	color: var(--clr-secondary);
	font-weight: 600;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}

a:hover {
	text-decoration: underline;

	/* --clr-secondary */
	color: hsl(var(--hsl-glaucous-huesat) calc(var(--hsl-glaucous-lum) + 10%));
}

a:active {
	/* --clr-secondary */
	color: hsl(var(--hsl-glaucous-huesat) calc(var(--hsl-glaucous-lum) + 15%));
}

a:visited {
	/* --clr-secondary */
	color: hsl(var(--hsl-glaucous-huesat) calc(var(--hsl-glaucous-lum) - 10%));
}

strong {
	color: var(--clr-primary);
}
