/* 
Setting a bunch of baseline defaults so we can have a consistent starting
point for our styles.

Credit to @slayingthedragon on YouTube for inspiring much of this!
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	/* https://coolors.co/7e0112-440812-090f11-6587d7-fff9fb-ed9b40 */

	/* https://coolors.co/04080f-507dbc-60a561-efcb68-ebbe9b-800000-fafafa */

	--clr-asparagus: 121deg 28% 51%;
	--clr-butterscotch: 32deg 83% 59%;
	--clr-cerulean: 196deg 36% 41%;
	--clr-chocolate-cosmos: 350deg 79% 15%;
	--clr-columbia-blue: 201deg 38% 84%;
	--clr-glaucous: 215deg 45% 53%;
	--clr-maroon: 0deg 100% 25%;
	--clr-naples-yellow: 44deg 81% 67%;
	--clr-night: 190deg 31% 5%;
	--clr-peach: 26deg 67% 76%;
	--clr-rich-black: 218deg 58% 4%;
	--clr-slate-gray: 199deg 15% 51%;
	
	/* original Rocking Horse site red */
	--clr-falu-red: 4deg 98% 25%;

	--clr-vermillion: 0deg 100% 60%;
	--clr-seasalt: 0deg 0% 97%;
	--clr-white: 0deg 0% 100%;
	--clr-dark: hsl(var(--clr-rich-black));
	--clr-light: hsl(var(--clr-seasalt));
	
	--clr-primary: hsl(var(--clr-maroon));
	--clr-secondary: hsl(var(--clr-glaucous));
	--clr-tertiary: hsl(var(--clr-peach));
	--clr-info: hsl(var(--clr-columbia-blue));
	--clr-success: hsl(var(--clr-asparagus));
	--clr-warning: hsl(var(--clr-naples-yellow));
	--clr-danger: hsl(var(--clr-vermillion));
	--clr-emphasis: hsl(var(--clr-white));
	--clr-body-color: hsl(var(--clr-light));
	--clr-body-bg: hsl(var(--clr-dark));
}

* {
	margin: 0;
	line-height: calc(1em + 0.5rem);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: Poppins, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-weight: 400;
	font-style: normal;
	background-color: var(--clr-dark);
	color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	user-select: none;
}

button {
	display: inline-block;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	color: inherit;
}

p {
	max-width: 80ch;
}

a {
	color: var(--clr-primary)
}

strong {
	color: var(--clr-secondary)
}
