/* xs */
/* @media screen and (width >= 475px) {} */

/* sm */
/* @media screen and (width >= 640px) {} */

/* md */
/* @media screen and (width >= 768px) {} */

/* lg */
/* @media screen and (width >= 1024px) {} */

/* xl */
/* @media screen and (width >= 1280px) {} */

/* 2xl */
/* @media screen and (width >= 1536px) {} */

.btn {
	display: inline-block;
	font-weight: 600;
	text-decoration: none;
	letter-spacing: 0.05em;
	background-color: var(--clr-primary);
	color: var(--clr-light);
	padding: 0.5em 1em;
	border-radius: 0.25em;
	box-shadow: 0 0 0.5em 0.1em var(--clr-box-shadow);
	transition: transform 0.05s ease, box-shadow 0.1s ease;
}

.btn.btn-primary {
	background-color: var(--clr-primary);
}

.btn.btn-secondary {
	background-color: var(--clr-secondary);
	color: var(--clr-dark);
}

.btn.btn-tertiary {
	background-color: var(--clr-tertiary);
}

.btn.btn-info {
	background-color: var(--clr-info);
}

.btn.btn-success {
	background-color: var(--clr-success);
}

.btn.btn-warning {
	background-color: var(--clr-warning);
	color: var(--clr-dark);
}

.btn.btn-danger {
	background-color: var(--clr-danger);
}

.btn:hover {
	box-shadow: 0 0 0.5em 0.1em var(--clr-box-shadow-emphasis);
}

.btn:active {
	transform: translateY(0.125em);
	box-shadow: none;
}

.form-input {
	padding: 0 0.5em;
}

.logo-icon {
	height: 20px; /* Using px here only because of iconfiy SVG icons already being 20px */
}

.container,
.container-col {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: flex;
}

.container {
	justify-content: center;
}

.container-col {
	flex-direction: column;
}

.section:not(:nth-of-type(1)) {
	margin-top: 5rem;
}

.loading {
	filter: blur(40px) grayscale(100%);
}

.loaded {
	filter: blur(0) grayscale(0);
	transition: 0.7s ease-in-out;
}

/* xs */
@media screen and (width >=475px) {
	.container {
		max-width: 475px;
	}
}

/* sm */
@media screen and (width >=640px) {
	.container {
		max-width: 640px;
	}
}

/* md */
@media screen and (width >=768px) {
	.container {
		max-width: 768px;
	}
}

/* lg */
@media screen and (width >=1024px) {
	.container {
		max-width: 1024px;
	}

	.section:not(:nth-of-type(1)) {
		margin-top: 10rem;
	}
}

/* xl */
@media screen and (width >=1280px) {
	/* .container {
		max-width: 1280px;
	} */
}

/* 2xl */
@media screen and (width >=1536px) {
	/* .container {
		max-width: 1536px;
	} */
}
